body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f9ff;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
}

button {
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
  border: none;
  cursor: pointer;
}
